<div class="container">


  <div class="details-container">

    <div [ngClass]="['title','detail-text']">
      Todos app
    </div>

    <div [ngClass]="['author','detail-text']">
      By Guy Sagi
    </div>

    <div [ngClass]="['date','detail-text']">
      {{todaysDate | date:'dd/MM/YYYY'}}
    </div>

    <div class="button-container">

      <button mat-raised-button color="primary" (click)="goToNewList()">Create new list</button>
      <button mat-raised-button color="primary" (click)="goToAllLists()">View all lists</button>
      <button mat-raised-button color="primary" (click)="goToAllItems()">view all items</button>
    </div>
  </div>


  <div class="detail-blocks-container">
    <app-detail-block title='Lists' icon='list' [amount]='listsAmount'></app-detail-block>
    <app-detail-block title='Todo Items' icon='done_all' [amount]="0"></app-detail-block>
    <app-detail-block title='Active Items' icon='hourglass_bottom' [amount]="0"></app-detail-block>
  </div>


</div>
